* {
	box-sizing: border-box;
}

body {
	direction: rtl;
}

h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: #000 solid 1px;
	padding: 4px;
}

tbody tr:nth-of-type(odd) {
	background-color: #eee;
}

.list-group {
	padding-right: 0;
	padding-left: 0;
}

.Lun {
	background-color: azure;
}

tbody tr:nth-of-type(odd) .Lun {
	background-color: rgb(181, 205, 255);
}

.Mer {
	background-color: beige;
}

tbody tr:nth-of-type(odd) .Mer {
	background-color: rgb(253, 253, 168);
}

.Jeu {
	background-color: rgb(255, 189, 189);
}

tbody tr:nth-of-type(odd) .Jeu {
	background-color: rgb(253, 153, 153);
}

.calendar {
	display: flex;
	flex-wrap: wrap;
}

.monthCalendar {
	width: 300px;
	border: #000 solid 1px;
	margin: 5px auto;
}

.weekDays {
	display: flex;
	flex-wrap: wrap;
}

.weekDay {
	display: block;
	width: calc(100% / 7);
	text-align: center;
	padding: 3px 0;
}

.monthName {
	text-align: center;
	padding: 4px;
	background-color: lightgray;
}

.monthDays {
	display: flex;
	flex-wrap: wrap;
}

.monthDay {
	display: block;
	width: calc(100% / 7 - 2px);
	text-align: center;
	padding: 2px 0;
	margin: 1px;
}

.monthDay.todayDate {
	border: red solid 2px;
	padding: 0px;
}

.highlightDate {
	background-color: #eee;
	border-radius: 5px;
	cursor: pointer;
}